.container {
  position: fixed;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  border-bottom: 4px solid #000;
  background-color: #fff;
  width: 500px;
}

.header_row {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  width: 100%;
}

.col {
  flex: 1
}

.main_col {
  flex: 2
}

.text {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 560px) {
  .container {
    width: 350px;
  }

  .header_row {
    column-gap: 30px;
  }
}